.title1 {
  text-align: center;
  font: normal normal bold 12px/25px Josefin Sans;
  letter-spacing: 1.2px;
  color: #221f20;
  text-transform: uppercase;
  opacity: 1;
}
.mainTitle {
  text-align: center;
  font: normal normal bold 48px/52px Barlow Condensed;
  letter-spacing: 0px;
  color: #221f20;
  text-transform: uppercase;
  opacity: 1;
}
.p1 {
  text-align: center;
  font: normal normal normal 16px/25px Nunito;
  letter-spacing: 0px;
  color: #221f20;
}
.setBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
