:root {

/* Colors: */
--unnamed-color-f3f7f9: #F3F7F9;
--unnamed-color-f0f8f7: #F0F8F7;
--unnamed-color-9099ba: #9099BA;
--unnamed-color-7fa9ae: #7FA9AE;
--unnamed-color-12868e: #12868E;
--unnamed-color-8db9ca: #8DB9CA;
--unnamed-color-7d9cc0: #7D9CC0;
--unnamed-color-5f9bc6: #5F9BC6;
--unnamed-color-6bbbae: #6BBBAE;
--unnamed-color-659ab1: #659AB1;
--unnamed-color-221f20: #221F20;
}