.main {
  background: #eff4f6;
}

.title-fresh {
  text-align: center;
  font: normal normal bold 105px/126px Barlow Condensed;
  letter-spacing: 2.63px;
  color: #d8e6eb;
  text-transform: uppercase;
  opacity: 1;
}
