.back-left {
  object-fit: cover;
  background-image: url('./travelPress-left.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lead {
  font: normal normal normal 16px/25px Nunito;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.d4 {
  text-align: center;
  font: normal normal bold 48px/48px Barlow Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.bShop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 12px/14px Josefin Sans;
  letter-spacing: 1.8px;
  color: #221f20;
  text-transform: uppercase;
  border: 0;
}
.right-title {
  text-align: center;
  font: normal normal bold 84px/101px Barlow Condensed;
  letter-spacing: 2.1px;
  color: #aacbd8;
  text-transform: uppercase;
  opacity: 1;
}
.img-wrapper {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.changing-item {
  height: 400px;
  width: 400px;
}
.changing-item img {
  width: 100%;
  height: 100%;
  // object-fit: fill;
  object-fit: cover;
}
