@import '../../variables.scss';
.title-fresh {
  text-align: center;
  font: normal normal bold 105px/126px Barlow Condensed;
  letter-spacing: 2.63px;
  color: #d8e6eb;
  text-transform: uppercase;
  opacity: 1;
}

.wrap {
  width: 100%;
  height: 0;
  padding-bottom: 56%; /* Change this till it fits the dimensions of your video */
  position: relative;
}
.wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

@media screen and (max-width: $large-phone) {
  .title-fresh {
    letter-spacing: 0;
    font-size: 3rem;
  }
}

@media screen and (max-width: $phone) {
  .title-fresh {
    letter-spacing: 0;
    font-size: 1rem;
  }
}
